# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea


.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.dev
.env.test
.env.prod
